*
{
    margin: 0;
    padding: 0;
}

html, body, .Container
{
    height: 100%;
}

    .Container:before
    {
        content: '';
        height: 100%;
        float: right;
    }

.Content
{
    position: relative;
    z-index: 1;
}
    .Content:after
    {
        content: '';
        clear: both;
        display: block;
    }

.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}
    .Wrapper > div
    {
        height: 100%;
    }

.LeftContent
{
    width:50%;
    overflow: hidden;
}

.LeftContent:hover
{
    width:50%;
    overflow: auto;
}

.RightContent
{
    width:50%;
    float: left;
    text-align: center;
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.canvas-container {
    margin:0 auto ; 
}